<div>
    <br/>
    
    <button class="btn btn-primary" ng-click="newInvoice()">{{::'global.newRecord' | translate}}</button>
    
    <br/>
    <br/>

    <div class="row">

        <form class="form-horizontial" style="padding-left:5%;padding-right:5%">

            <legend>{{::'global.args' | translate}}</legend>
    
            <div class="row">

                <div class="col-md-6">
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="id">{{::'nv.invoice.id' | translate}}</label>
                            <input class="form-control" type="text" name="id" ng-model="invoiceArgs.id">
                        </div>
                    </div>     
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="employee">{{::'nv.invoice.employee' | translate}}</label>
                            <input class="form-control" type="text" name="employee" ng-model="invoiceArgs.employeeId">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="warehouse">{{::'menu.wr' | translate}}</label>
                            <input class="form-control" type="text" name="warehouse" ng-model="invoiceArgs.warehouseId">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="rack">{{::'menu.rc' | translate}}</label>
                            <input class="form-control" type="text" name="rack" ng-model="invoiceArgs.rackId">
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="product">{{::'menu.pr' | translate}}</label>
                            <input class="form-control" type="text" name="product" ng-model="invoiceArgs.productId">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="afterDate">{{::'nv.invoice.afterDate' | translate}}</label>
                            <compact-datetimepicker model="invoiceArgs.afterDate" name="afterDate" type="D"></compact-datetimepicker>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="beforeDate">{{::'nv.invoice.beforeDate' | translate}}</label>
                            <compact-datetimepicker model="invoiceArgs.beforeDate" name="beforeDate" type="D"></compact-datetimepicker>
                        </div>
                    </div>
                                      
                    <div class="col-md-12">
                        <label class="form-label">{{::'nv.invoice.type' | translate}}</label>

                        <div class="form-group">
                            <label class="nv.invoice" for="import">{{::'nv.invoice.import' | translate}}</label>
                            <input type="radio" ng-model="invoiceArgs.invoiceType" name="import" ng-value=true />
                        </div>
                        <div class="form-group">
                            <label class="nv.invoice" for="export">{{::'nv.invoice.export' | translate}}</label>
                            <input type="radio" ng-model="invoiceArgs.invoiceType" name="export" ng-value=false />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="description">{{::'nv.invoice.description' | translate}}</label>
                            <input class="form-control" type="text" name="description" ng-model="invoiceArgs.description">
                        </div>
                    </div>
                    
                </div>

            </div>
    
            <br/>
            
            <div style="text-align: center;">
                <button class="btn btn-warning" ng-click="restoreData()">{{::'global.retrieveData' | translate}}</button>
                <button class="btn btn-info" ng-click="retrieveData()">{{::'global.search' | translate}}</button>
            </div>
    
        </form>

    </div>

    <br/>

    <legend>{{::'menu.nv.list' | translate}}</legend>

    <!-- TODO: pagination στον πίνακα, να εμφανίζονται σε σελίδες: π.χ. ανά 10 -->

    <div class="table-responsive">
        <table class="table table-striped">

            <thead>
                <th ng-click="doSort('id')">{{::'nv.invoice.id' | translate}}</th>
                <th ng-click="doSort('invoiceType')">{{::'nv.invoice.type' | translate}}</th>
                <th ng-click="doSort('employeeId')">{{::'nv.invoice.employee' | translate}}</th>
                <th ng-click="doSort('date')">{{::'nv.invoice.date' | translate}}</th>
                <th ng-click="doSort('description')">{{::'nv.invoice.description' | translate}}</th>
                <th>{{::'nv.invoice.invoiceActionsNumber' | translate}}</th>
                <th>{{::'global.extraActions' | translate}}</th>
            </thead>

            <tbody>
                <tr ng-repeat="nv in invoices | orderBy:sortBy:reverse">
                    <td>{{nv.id}}</td>
                    <td>{{nv.invoiceTypeString}}</td>
                    <td>{{nv.employeeName}}</td>
                    <td>{{nv.date | date:'dd/MM/yy HH:mm:ss'}}</td>
                    <td>{{nv.description}}</td>
                    <td>{{nv.invoiceProducts.length}}</td>
                    <td>
                        <button class="btn btn-info" ng-click="getInvoice(nv.id)">{{::'global.open' | translate}}</button>
                        <button class="btn btn-danger" ng-click="deleteInvoice(nv.id)">{{::'global.delete' | translate}}</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    
</div>

